@font-face { /* Police générique du site Reservia */
    font-family: 'Raleway-Regular';
    src: url('police/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Police des titres du site Reservia */
    font-family: 'Raleway-ExtraBold';
    src: url('police/Raleway-ExtraBold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* Eléments génériques de la page */

body, p, a
{
    font-family: Raleway-Regular, serif, Arial;
    margin: 0 0 0 0;
    color: black;
    text-decoration-line: none;
}

#pieddepage
{
    padding: 4.7em 3.8em 4.7em 3.8em;
}

h1, h2, h3, h4, h5, .bold, .nom-filtre
{
    font-family: Raleway-ExtraBold, serif, Arial;
    color: #000000;
}

h3
{
    font-size: 3em;
    margin-block-start: 0;
    margin-block-end: 1.5em;
}

ul
{
    font-family: Raleway-Regular, serif, Arial;
    list-style-type: none;
    text-decoration-line: none;
    padding-left: 0px;
}

.cover
{
    object-fit: cover;
}

/* EN-TÊTE */

header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    padding: 3.8em 0 0 0;
    background-color: white;
    z-index: 9999;
}

#header-line1
{
    display: flex;
    justify-content: space-between;
    padding: 0 3.8em 2.8em 3.8em;
    width: auto;
    height: auto;
}

#logo
{
    width: 30%;
    height: 20%;
}

#bouton-insc
{
    font-size: 2.7em;
    font-family: Raleway-ExtraBold, serif, Arial;
    color: #0065FC;
    margin-top: auto;
    margin-bottom: auto;
}

#header-line2
{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
}

.ancre-header
{
    font-size: 2.7em;
    color: black;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0 0.7em 0;
    text-align: center;
    border-bottom: 0.2em #f2f2f2 solid;
}

/* SECTION FORMULAIRE */

#section-form
{
    width: auto;
    height: auto;
    margin: 25.75em 0 6em 0;
    padding: 0 3.8em 0 3.8em;
}

#section-form h1
{
    font-size: 3.25em;
    margin-block-start: 0;
    margin-block-end: 0.6em;
}

#sous-titre
{
    font-size: 1em;
    margin-bottom: 5.5em;
}

#block-form-complet
{
    width: 99%;
    height: 7.75em;
    background-color: white;
    margin: 0 0 5.5em 0;
    border-radius: 40px 40px 40px 40px;
    border: 2.5px #f2f2f2 solid;
    display: flex;
}

#block-loc
{
    position: relative;
    bottom: 0.2em;
    width: 15%;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 40px 0 0 40px;
    border: 2px #f2f2f2 solid;
    text-align: center;
}

#block-loc .fas, #block-rech .fas
{
    font-size: 4em;
    padding-top: 0.5em;
}

#bloc-form
{
    width: 100%;
    height: auto;
    font-size: 50em;
    border-radius: 0 40px 40px 0;
}

#block-form:nth-child(2)
{
    flex: 1;
}

#block-form p
{
    margin-block-end: 0;
}

#block-form2
{
    width: 100%;
    height: 100%;
    font-family: Raleway-ExtraBold, serif, Arial;
    color: #000000;
    border: none;
    font-size: 2.5em;
    padding: 0.95em 0.5em 0.95em 0.2em;
}

#block-form2::placeholder
{
    font-family: Raleway-Regular, serif, Arial;
    color: #a8a8a8;
}

#block-form2:focus
{
    outline: none;
}

#block-rech
{
    position: relative;
    left: 0.5em;
    bottom: 0.35em;
    width: 8em;
    height: 7.85em;    
    background-color: #0065fc;
    border: 5px #0065fc solid;
    border-radius: 40px;
    text-align: center;
}

h2
{
    margin: 0 0 1.5em 0;
}

#liste-filtres
{
    display: flex;
    flex-wrap: wrap;
}

#filtre
{
    height: auto;
    border: 4px #dfdddd solid;
    border-radius: 1000px;
    margin: 0 3em 2em 0;
    display: flex;
}

.filtre-éco
{
    width: 26em;
}

.filtre-fam
{
    width: 20em;
}

.filtre-rom
{
    width: 26em;
}

.filtre-anim
{
    width: 34.5em;
}

#filtre .fas
{
    position: relative;
    right: 0.5em;
    width: 2em;
    height: 2em;
    font-size: 2.5em;
    text-align: center;
    background-color: #deebff;
    padding: 1em 0.5em 0 0.5em;
    border-radius: 1000px;
}

.nom-filtre
{
    width: auto;
    height: auto;
    font-size: 2.8em;
    padding-top: 0.65em;
}

/* ASIDE LES PLUS POPULAIRES */

aside
{
    padding: 0 0 0 0;
    background-color: #f2f2f2;
}

#aside-pop
{
    padding: 0 3.8em 5em 3.8em;
}

#titre-pop
{
    display: flex;
    justify-content: space-between;
    padding-top: 6.5em;
    padding-bottom: auto;
}

#titre-pop h3
{
    font-size: 3.75em;
    padding-top: auto;
    padding-bottom: auto;
}

#titre-pop .fas
{
    font-size: 4em;
    padding-top: auto;
    padding-bottom: auto;
}

.block-pop
{
    margin-bottom: 1.75em;
    width: 100%;
    height: 25em;
    background-color: white;
    border-radius: 65px;
    border: 2.5px #f2f2f2 solid;
    box-shadow: 10px 10px 20px #f2f2f2;
}

.block-pop img
{
    width: 43%;
    height: 94%;
    border-radius: 65px 0 0 65px;
    padding: 0.75em 0 0.75em 0.75em;
    float: left;
}

.block-pop .block-pop-desc
{
    width: 53%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-color:white;
    border-radius: 0 65px 65px 0;
    float: right;
}

.block-pop-desc h4
{
    font-size: 2.8em;
    padding-top: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.block-pop-desc .prix-nuit
{
    font-size: 2.3em;
    padding: 0.6em 0 0 0;
    margin-top: 0;
    margin-bottom: 0;
}

.block-pop-desc .not-pop
{
    font-size: 2em;
    padding-top: 3.2em;
}

.not-pop .fas
{
    padding: 0 0 0 0;
}

/* SECTION HEBERGEMENTS A MARSEILLE */

#section-heb
{
    padding: 0 3.8em 8.85em 3.8em;
}

.block-heb
{
    margin-bottom: 2.35em;
    width: 100%;
    height: 31em;
    border-radius: 65px;
    border: 2.5px #f2f2f2 solid;
    box-shadow: 10px 10px 20px #f2f2f2;
}

.block-heb img
{
    width: 98%;
    height: 55%;
    border-radius: 65px 65px 0 0;
    margin: 0.5em 0.5em 0 0.5em;
}

.block-heb h4
{
    font-size: 2.8em;
    padding: 0.6em 0 0 0.94em;
    margin-top: 0;
    margin-bottom: 0;
}

.block-heb .prix-nuit
{
    font-size: 2.3em;
    padding: 0.3em 0 0 1.1em;
    margin-top: 0;
    margin-bottom: 0;
}

.not-heb
{
    padding: 0.9em 0 0 2.4em;
    margin-top: 0;
    margin-bottom: 0;
}

.block-heb .fas
{
    font-size: 2em;
}

.aff-plus
{
    font-family: Raleway-ExtraBold, serif, Arial;
    color: #000000;
    font-size: 1.75em;
    padding: 1.75em 0 0 1em;
    margin-top: 0;
    margin-bottom: 0;
}

/* SECTION ACTIVITES A MARSEILLE */

#section-act
{
    padding: 0 3.8em 4.7em 3.8em;
}

.block-act
{
    margin-bottom: 4.7em;
    border: 3px #f2f2f2 solid;
    box-shadow: 10px 10px 20px #f2f2f2;
}

.block-act, .block-act a img
{
    width: 100%;
    height: 31em;
    border-radius: 65px;
}

.block-act a
{
    width: 100%;
    height: auto;
}

.block-titre-h4
{
    font-size: 2.6em;
    position: relative;
    left: 0.01em;
    bottom: 3em;
    width: 100%;
    height: 3em;
    margin: 0 0 0 0;
    border-radius: 0 0 65px 65px;
    background-color: white;
}

.block-act h4
{
    padding: 1em 0 0 1.25em;
    margin-top: 0;
    margin-bottom: 0;
}

/* PIED-DE-PAGE */

footer
{
    background-color: #f2f2f2;
}

h5
{
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
}

.liste-pdp
{
    padding-bottom: 2em;
}

.puce-pdp
{
    padding-bottom: 2em;
}