@font-face { /* Police générique du site Reservia */
    font-family: 'Raleway-Regular';
    src: url('police/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Police des titres du site Reservia */
    font-family: 'Raleway-ExtraBold';
    src: url('police/Raleway-ExtraBold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* Eléments génériques de la page */

body, a, input
{
    font-family: Raleway-Regular, serif, Arial;
    margin: 0 0 0 0;
    color: black;
    text-decoration-line: none;
}

body
{
    box-sizing: border-box;
    color: black;
}

h1, h2, h3, h4, h5, .bold, .nom-filtre
{
    font-family: Raleway-ExtraBold, serif, Arial;
}

p
{
    margin: 0;
}

h3
{
    font-size: 3em;
    margin: 0;
}

ul
{
    font-family: Raleway-Regular, serif, Arial;
    list-style-type: none;
    text-decoration-line: none;
    padding-left: 0px;
}

.cover
{
    object-fit: cover;
}

.blue-icon
{
    color: #0065FC;
}

.grey-icon
{
    color: #e9e6e6;
}

.black-icon
{
    color: black;
}

.white-icon
{
    color: white;
}

/* EN-TÊTE */

header
{
    position: -webkit-sticky;
    position: sticky;
    top: 0em;
    padding: 1.65em 0 0 0;
    background-color: white;
    z-index: 9999;
}

#flex-header
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#logo
{
    display: block;
    min-width: 40%;
    padding: 0 0 1.5em 1.25em;
    flex: 1;
}

#bouton-insc
{
    display: block;
    padding: 0 1.25em 1.5em 0;
    font-size: 1em;
    font-family: Raleway-ExtraBold, serif, Arial;
    color: #0065FC;
    text-align: right;
}

#bouton-héb, #bouton-act
{
    display: block;
    width: 50%;
    color: black;
    margin: 0;
    padding: 0 0 0.7em 0;
    text-align: center;
    border-bottom: 0.2em #f2f2f2 solid;
}

#bouton-héb:hover, #bouton-act:hover
{
    color: #0065FC;
    border-bottom: 0.2em #0065FC solid;
}

/* SECTION FORMULAIRE */

#section-form
{
    margin: 2em 0 2em 0;
    padding: 0 1.25em 0 1.25em;
}

h1
{
    font-size: 1.4em;
    margin: 0 0 0.65em 0;
}

#sous-titre
{
    margin: 0 0 2.2em 0;
}

#block-form-complet
{
    max-width: 27em;
    margin: 0 0 2em 0;
    border: 1px#f2f2f2 solid;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
}

#block-form-complet .fas
{
    font-size: 1.5em;
}

#block-loc
{
    display: block;
    width: 2.09em;
    background-color: #f2f2f2;
    border-radius: 13px 0 0 13px;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
}

#block-form
{
    font-size: 1.15em;
    font-weight: bold;
    padding: 0 0 0 0.5em;
    border: none;
    outline: none;
    flex: 1;
}

input::placeholder
{
    font-size: 0.75em;
    font-weight: normal;
    font-family: Raleway-Regular, serif, Arial;
    color: #a8a8a8;
}

#block-rech
{
    width: 3.1em;
    background-color: #0065FC;
    border-radius: 15px;
    text-align: center;
    padding: 0.75em 0 0.75em 0;
}

#bouton-rech
{
    display: none;
}

h2
{
    font-size: 1.2em;
    margin: 0.75em 1.5em 1em 0;
}

#liste-filtres
{
    display: flex;
    flex-wrap: wrap;
}

.filtre
{
    margin: 0 0.75em 1em 0;
    border: 2px #dfdddd solid;
    transition: border 0.2s ease-in-out;
    border-radius: 1000px;
    display: flex;
}

.filtre .fas
{
    transform: scale(1.15);
}

.filtre:hover
{
    color: #0065fc;
    border: 2px #0065fc solid;
}

.nom-filtre p:hover
{
    color: #0065FC;
}

.icone-filtre
{
    width: 2.75em;
    text-align: center;
    padding: 0.85em 0.2em 0 0;
    border-radius: 1000px;
    background-color: #deebff;
}

.nom-filtre
{
    padding: 0.8em 0.8em 0.8em 0.6em;
}

table .fas
{
    font-size: 0.75em;
    width: auto;
    height: auto;
    border: 1px #dfdddd solid;
    border-radius: 1000px;
    text-align: center;
    padding: 0.4em 0.75em 0.4em 0.75em;
}

table p
{
    font-size: 0.92em;
    padding-left: 0.75em;
}

td
{
    vertical-align: top;
}

#col-2
{
    padding-top: 0.25em;
}

/* ASIDE LES PLUS POPULAIRES */

aside
{
    padding: 0;
    margin-bottom: 2.2em;
    background-color: #f2f2f2;
}

#aside-pop
{
    padding: 0 1.25em 1.75em 1.25em;
}

#flex-titre-pop
{
    display: flex;
    padding: 2.4em 0 0 0;
}

#titre-pop
{
    flex: 1;
}

#titre-pop h3
{
    font-size: 1.25em;
    padding-bottom: 1.25em;
}

#flex-titre-pop .fas
{
    font-size: 1.5em;
}

#aside-pop a
{
    height: 8.3em;
    background-color: white;
    border: 5px white solid;
    border-radius: 25px;
    box-shadow: 2.5px 2.5px 20px #cecdcd;
    margin-bottom: 0.7em;
    overflow: hidden;
    display: block;
    display: flex;
}

.img-pop
{
    width: 40%;
    height: 100%;
}

.desc-pop
{
    padding: 0.75em 0 0 1em;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.desc-pop-titre h4
{
    margin: 0;
}

.desc-pop-prix
{
    font-size: 0.9em;
    padding-top: 0.5em;
    flex: 1
}

.desc-pop-not
{
    font-size: 0.75em;
    padding-bottom: 0.5em;
}

/* SECTION HEBERGEMENTS A MARSEILLE */

#section-heb
{
    padding: 10em 1.25em 0 1.25em;
    margin: -10em 0 3.25em 0;
}

#section-heb h3
{
    font-size: 1.4em;
    padding-bottom: 0.85em;
}

.block-heb
{
    height: 12.25em;
    background-color: white;
    border-radius: 25px;
    border: 5px white solid;
    box-shadow: 10px 10px 20px #f2f2f2;
    margin-bottom: 0.8em;
    overflow: hidden;
}

.block-heb img
{
    min-width: 100%;
    height: 60%;
}

.block-heb h4
{
    padding: 3.5px 0 0 13.16px;
    margin: 0;
}

.block-heb .prix-nuit
{
    font-size: 0.9em;
    padding: 3.5px 0 0 13.16px;
    margin: 0;
}

.not-heb
{
    font-size: 0.75em;
    padding: 6px 0 0 13.16px;
    margin: 0;
}

.aff-plus
{
    font-family: Raleway-ExtraBold, serif, Arial;
    color: #000000;
    padding: 1.25em 0 0 1em;
    margin: 0;
}

/* SECTION ACTIVITES A MARSEILLE */

#section-act
{
    padding: 10em 1.25em 1.75em 1.25em;
    margin-top: -10em;
}

#section-act h3
{
    font-size: 1.4em;
    margin-bottom: 1.2em;
}

.block-act
{
    height: 11.75em;
    border: 1px #f2f2f2 solid;
    border-radius: 25px;
    box-shadow: 10px 10px 20px #f2f2f2;
    margin-bottom: 1.4em;
}

.block-act img
{
    min-width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
}

.block-titre-h4
{
    display: table;
    width: 100%;
    min-height: 3em;
    margin: 0;
}

.block-titre-h4 h4
{
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 1em;
}

/* PIED-DE-PAGE */

footer
{
    background-color: #f2f2f2;
}

#pieddepage
{
    padding: 2.75em 1.75em 0 1.75em;
    display: flex;
    flex-direction: column;
}

h5
{
    font-size: 1.15em;
    margin: 0 0 1em 0;
}

.liste-pdp
{
    margin-bottom: 2em;
}

.liste-pdp ul
{
    margin: 0;
}

.liste-pdp li
{
    padding-bottom: 0.7em;
}